Data set from DataPlayground Maven Analytics

What is the average number of trips per week?

What is the average distance traveled per trip?

Which days of the week and times of the day will be busiest?

What are the most popular pick-up and drop-off locations?

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('NYC.csv')

In [4]:
df.head()

,Unnamed: 0,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2020-01-01 06:47:28.000,2020-01-01 06:52:54.000,N,1,74,75,1.0,1.47,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2,1,0.0
1,1,2,2020-01-01 13:25:34.000,2020-01-01 13:30:43.000,N,1,74,75,1.0,1.49,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2,1,0.0
2,2,2,2020-01-01 14:20:35.000,2020-01-01 14:26:25.000,N,1,74,75,1.0,1.31,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2,1,0.0
3,3,2,2020-01-02 06:56:47.000,2020-01-02 07:03:03.000,N,1,74,75,1.0,1.43,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2,1,0.0
4,4,2,2020-01-02 09:34:46.000,2020-01-02 09:41:02.000,N,1,74,75,1.0,1.10,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2,1,0.0

In [5]:
df.shape

(28326071, 20)

In [6]:
df=df.iloc[:,1:]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28326071 entries, 0 to 28326070
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   lpep_pickup_datetime   object
 2   lpep_dropoff_datetime  object
 3   store_and_fwd_flag     object
 4   RatecodeID             int64
 5   PULocationID           int64
 6   DOLocationID           int64
 7   passenger_count        float64
 8   trip_distance          float64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  payment_type           int64
 17  trip_type              int64
 18  congestion_surcharge   float64
dtypes: float64(10), int64(6), object(3)
memory usage: 4.0+ GB

In [8]:
df['VendorID']=df['VendorID'].astype('str')
df['lpep_pickup_datetime']=pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime']=pd.to_datetime(df['lpep_dropoff_datetime'])
col=['RatecodeID','PULocationID','DOLocationID','trip_type','payment_type']
for i in col:
    df[i]=df[i].astype('str')
df['passender_count']=df['passenger_count'].astype('int')

In [9]:
df.isnull().sum()

VendorID                 0
lpep_pickup_datetime     0
lpep_dropoff_datetime    0
store_and_fwd_flag       0
RatecodeID               0
PULocationID             0
DOLocationID             0
passenger_count          0
trip_distance            0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    2
total_amount             0
payment_type             0
trip_type                0
congestion_surcharge     0
passender_count          0
dtype: int64

In [10]:
df['improvement_surcharge'].fillna(df['improvement_surcharge'].mean(),inplace=True)

In [11]:
df.isnull().sum()

VendorID                 0
lpep_pickup_datetime     0
lpep_dropoff_datetime    0
store_and_fwd_flag       0
RatecodeID               0
PULocationID             0
DOLocationID             0
passenger_count          0
trip_distance            0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
payment_type             0
trip_type                0
congestion_surcharge     0
passender_count          0
dtype: int64

In [12]:
df['day_of_week']=df['lpep_pickup_datetime'].dt.dayofweek

In [13]:
df['day_of_week'].head()

0    2
1    2
2    2
3    3
4    3
Name: day_of_week, dtype: int64

In [14]:
df['day_of_week']=df['day_of_week'].map({0:'Monday',1:'Tuesday',2:'Wednersday',3:'Thursday',4:'Friday',5:'Saturday',6:'Sunday'})

In [15]:
df['day_of_week'].head()

0    Wednersday
1    Wednersday
2    Wednersday
3      Thursday
4      Thursday
Name: day_of_week, dtype: object

Which days of the week and times of the day will be busiest?

In [16]:
df_days=df.groupby('day_of_week')['day_of_week'].count()

In [17]:
df_days.head(7).sort_values()

day_of_week
Monday        3612400
Tuesday       3777447
Sunday        3798558
Wednersday    3951825
Thursday      4124322
Friday        4522374
Saturday      4539145
Name: day_of_week, dtype: int64

Friday and Saturday seem to be far more busier than other days

In [18]:
df['time_pick_up']=df['lpep_pickup_datetime'].dt.hour

In [19]:
df['time_drop_off']=df['lpep_dropoff_datetime'].dt.hour

In [20]:
df_time=df.groupby('time_pick_up')['time_pick_up'].count()

In [21]:
df_time.head()

time_pick_up
0    906316
1    674031
2    483613
3    386057
4    340597
Name: time_pick_up, dtype: int64

In [22]:
df_time.sort_values(ascending=False).head(50)

time_pick_up
18    1969114
17    1868926
19    1818826
16    1745368
15    1633225
20    1552654
14    1484967
21    1424078
9     1389697
10    1348636
12    1346543
13    1340992
11    1335401
22    1295613
8     1277422
23    1147563
0      906316
7      858112
1      674031
2      483613
6      433127
3      386057
4      340597
5      265193
Name: time_pick_up, dtype: int64

8 in morning to 11 at night seem to be be busy

What is the average distance traveled per trip?

In [23]:
df['trip_distance'].mean()

3.866140496152873

What are the most popular pick-up and drop-off locations?

Pickup locations

In [52]:
df_pick_locations=df.groupby(['PULocationID'])['PULocationID'].count().reset_index(name='Count of Pickup')

In [53]:
df_pick_locations.shape

(262, 2)

In [55]:
df_pick_locations=df_pick_locations.sort_values(by='Count of Pickup',ascending=False)

In [57]:
df_pick_locations.head()

    PULocationID  Count of Pickup
234           74          1894141
235           75          1629516
198           41          1587500
229            7          1300642
243           82          1208719

In [67]:
top_5_pickup_locations=df_pick_locations['PULocationID'].head(5).reset_index(name='LocationID')

In [71]:
top_5_pickup_locations.head()

   index LocationID
0    234         74
1    235         75
2    198         41
3    229          7
4    243         82

In [85]:
top_5_pickup_locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       5 non-null      int64
 1   LocationID  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [86]:
top_5_pickup_locations['LocationID']=top_5_pickup_locations['LocationID'].astype('int')

In [45]:
df_locations=pd.read_csv('taxi_zones.csv')

In [66]:
df_locations.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [84]:
df_locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

top 5 pick up locations

In [89]:
df_locations[df_locations['LocationID'].isin(top_5_pickup_locations['LocationID'])]

    LocationID    Borough               Zone service_zone
6            7     Queens            Astoria    Boro Zone
40          41  Manhattan     Central Harlem    Boro Zone
73          74  Manhattan  East Harlem North    Boro Zone
74          75  Manhattan  East Harlem South    Boro Zone
81          82     Queens           Elmhurst    Boro Zone

drop locations

In [90]:
df_drop_locations=df.groupby('DOLocationID')['DOLocationID'].count().reset_index(name='Count of Drops')

In [91]:
df_drop_locations=df_drop_locations.sort_values(by='Count of Drops',ascending=False)

In [92]:
df_drop_locations['DOLocationID']=df_drop_locations['DOLocationID'].astype('int')

In [98]:
df_top_5_drop_locations=df_drop_locations['DOLocationID'].head(5).reset_index()

In [99]:
df_top_5_drop_locations

   index  DOLocationID
0    235            74
1    200            42
2    199            41
3    230             7
4     31           129

top 5 pick up locations

In [100]:
df_locations[df_locations['LocationID'].isin(df_top_5_drop_locations['DOLocationID'])]

     LocationID    Borough                  Zone service_zone
6             7     Queens               Astoria    Boro Zone
40           41  Manhattan        Central Harlem    Boro Zone
41           42  Manhattan  Central Harlem North    Boro Zone
73           74  Manhattan     East Harlem North    Boro Zone
128         129     Queens       Jackson Heights    Boro Zone

What is the average number of trips per week?

In [39]:
df['dayofweek']=df['lpep_pickup_datetime'].apply(lambda x:x.weekofyear)

In [40]:
df.rename(columns={'dayofweek':'weeknumber'},inplace=True)

In [41]:
df_trips_per_week=df.groupby('weeknumber')['weeknumber'].count()

In [42]:
df_trips_per_week.head()

weeknumber
1    613950
2    703792
3    658155
4    678948
5    705081
Name: weeknumber, dtype: int64

In [44]:
df_trips_per_week.mean()

534454.1698113207